body{
  background-color: black;
  font-family: helvetica;
}
#image_header{
  background: url('img/header.jpg') no-repeat center top;
  height: 40vh;
  width: 60%;
  padding-right: 20%;
  padding-left: 20%;
}
input{
  color: white;
  background-color: #333;
  border-color: black;
}
#text_header{
height: 100%;
width: 60%;
color: white;
}
header{
  height: 100%;
}
@media(max-width:1000px) {
  #image_header{
    height: 100%;
  }
  #btnrouge{
    background: #ed1515;
    background-image: -webkit-linear-gradient(top, #ed1515, #940d0d);
    background-image: -moz-linear-gradient(top, #ed1515, #940d0d);
    background-image: -ms-linear-gradient(top, #ed1515, #940d0d);
    background-image: -o-linear-gradient(top, #ed1515, #940d0d);
    background-image: linear-gradient(to bottom, #ed1515, #940d0d);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: helvetica;
    color: #0d010d;
    font-size: 1em;
    margin-left: 500px;
    padding: 6px 20px 10px 20px;
    text-decoration: none;
  }
}
.conteneur{
  display: flex;
  flex-wrap: wrap;
  height: 100px;
}
#choose{

}
#btnrouge {
  background: #ed1515;
  background-image: -webkit-linear-gradient(top, #ed1515, #940d0d);
  background-image: -moz-linear-gradient(top, #ed1515, #940d0d);
  background-image: -ms-linear-gradient(top, #ed1515, #940d0d);
  background-image: -o-linear-gradient(top, #ed1515, #940d0d);
  background-image: linear-gradient(to bottom, #ed1515, #940d0d);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: helvetica;
  align: center;
  color: #0d010d;
  font-size: 29px;
  padding: 6px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ba8211;
  text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:  hidden;
    background-color: #333;
    border: 1px solid;
    border-color: red;
}

li {
    float: left;
}

#connect {
  float: right;
}

#inscript {
  float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.conteneur{
  display: flex;
  height: 100vh;
  flex-direction: row;
  padding-top: 2%;
  flex-wrap: wrap;
}
#left{
  border: 1px solid;
  border-color: red;
  height: 100%;
  width: 15%;
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
  background-color: #333;
}

#right{
  border: 1px solid;
  border-color: red;
  height: 100%;
  width: 81%;
  padding-left: 2%;
  justify-content: flex-start;
  align-self: flex-end;
  color: white;
  background-color: #333;
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}

#rights{
  border: 1px solid;
  border-bottom: none;
  border-color: red;
  height: 25px;
  padding-left: 2%;
  color: white;
  background-color: #333;
  display: flex;
  flex-direction: column;
}

#link{
  align-self: center;
  font-size: 14px;
}

.top_i{
  width: 100%;
  align-self: flex-start;
  display:none;
}
.bot_i{
  padding-top: 1%;
  width: 100%;
  align-self: flex-end;
  display: none;
}
#affiche{
  text-align: center;
}

#all-fest{
  border: 1px solid;
  border-color: red;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  height: 350px;
  width: 250px;
  margin-top: 20px;
  margin-left: 1%;
}

#all-fest h1{
  align-self: flex-start;
}
#aluna{
  width: 200px;
  height: 200px;
}


#link-fest{
  color: green;
  align-self: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#link a{
  color: inherit;
  font-size: 24px;
  text-align: center;
}
#rightp{
  display: flex;
  border: 1px solid;
  border-color: red;
  border-top: none;
  height: 100%;
  padding-left: 2%;
  color: white;
  background-color: #333;

  flex-wrap: wrap;
}
#conteneur2{
  display: flex;
  flex-direction: column;
  width: 81%;
  margin-left: 2%;
}
